<mat-toolbar class="toolbar">
  <div class="header" ><img width="60" alt="Angular Logo" src="assets/UL.png" />
    <span>OneVue Invoice</span>
    <span class="toolbar-flex"></span>
  </div>
  <div class="example-button-row">
    <button mat-button class="mr-10" routerLink="dashboard" routerLinkActive='Active'>Dashboard</button>
    <button mat-button class="mr-10" routerLink="search" routerLinkActive='Active'>Search</button>
    <button mat-button class="mr-10" routerLink="report" routerLinkActive='Active'>Report</button>
    <button mat-button class="mr-10" routerLink="setup" routerLinkActive='Active'>Setup</button>
  </div>
  <!-- <mat-tab-group>
    <mat-tab label="Dashboard"> </mat-tab>
    <mat-tab label="Search"> </mat-tab>
    <mat-tab label="Reports"> </mat-tab>
    <mat-tab label="Setup"> </mat-tab>
  </mat-tab-group> -->
  <span class="example-spacer"></span>
  <a mat-button>Preferences</a>
  <div><a mat-button>Guest</a></div>
</mat-toolbar>
<div class="content" role="main">
  <!-- <select class="form-control form-control-lg">
    <option>Select Context</option>
  </select> -->
</div>
<router-outlet></router-outlet>